<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Page</title>
</head>
<body>
    <h1>Welcome to the Buyer Page!</h1>

    <h2>Available Products for Purchase:</h2>
    <ul>
        {% for product in products %}
            <li>
                {{ product.item_name }} - {{ product.item_description }} - {{ product.item_price }}
                <img src="{{ product.item_image.url }}" width="500" height="600">
                <a href="{% url 'purchase_product' product.id %}">Purchase</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
