!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Hello this is index page.
        welcome {{request.user}}
        <p>
            this is a checking of wesite
        </p>
        <p> 
            Click on the here link to view your <a href="/items">items</a> 
        </p>
        <p> 
            To add your items click --><a href="/upload_item">upload </a> :-)
        </p>
        
        <a href="/logout">Logout</a>
        
        <script src="" async defer></script>
    </body>
</html>