!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        This is <h1> inventory page.</h1>
        
        <script src="" async defer></script>


        {% extends 'core/base.html' %}

        {% block title %}Dashboard{% endblock %}
        
        {% block content %}
            <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
                <h2 class="mb-12 text-2xl text-center">My items</h2>
        
                <div class="grid grid-cols-3 gap-3">
                    {% for item in items %}
                        <div>
                            <a href="{% url 'item:detail' item.id %}">
                                <div>
                                    <img src="{{ item.image.url }}" class="rounded-t-xl">
                                </div>
        
                                <div class="p-6 bg-white rounded-b-xl">
                                    <h2 class="text-2xl">{{ item.name }}</h2>
                                    <p class="text-gray-500">Price: {{ item.price }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}

    </body>
</html>