{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "Items.css" %}">
    <title>Row Calculator</title>
</head>

<body>
    <div class="container">
        <div id="input-container">
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>
            <br>
            <input type="text" id="item" placeholder="Item">
            <input type="number" id="price" placeholder="Price">
            <input type="number" id="count" placeholder="Count">
            <button onclick="calculateTotal()">Edit</button>

        </div>
        <!-- <div id="output-container">
            <h2>Output</h2>
            <ul id="output-list"></ul>
        </div> -->
    </div>
    <script src="Items.js"></script>
</body>

</html>
