{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Items</title>
    <link rel="stylesheet" href="{% static "seller_items.css" %}">
</head>
<body>
    <h1 class="title">Your Uploaded Items</h1>

    <table class="item-table">
        {% if items %}
            {% for item in items %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
                    <tr class="item-row">
                {% endif %}
                <td class="item">
                    <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}">
                    <h2>{{ item.item_name }}</h2>
                    <p>{{ item.item_description }}</p>
                    <p><span>Price:</span> Rs.{{ item.item_price }}</p>
                </td>
                {% if forloop.last or forloop.counter|divisibleby:3 %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No items uploaded yet.</td>
            </tr>
        {% endif %}
    </table>

    <a href="{% url 'upload_item' %}" class="upload-link">Upload Another Item</a>
</body>
</html>
