<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upload Success</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="button-container">
        <div class="left-nav-container">
            <button class="nav-btn" onclick="location.href='/index'">main</button>
            <button class="nav-btn" onclick="location.href='/upload_item'">Upload Item</button>
            <button class="nav-btn" onclick="location.href='/seller_items'">Seller's Items</button>
            <button class="nav-btn" onclick="location.href='/order'">Seller's Orders</button>
            <button class="nav-btn" onclick="location.href='/'">Buyer's Page</button>
            <button class="nav-btn" style="margin-top:0;" onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
    <h1 class="title">Upload Success</h1>
    <p>Your item has been successfully uploaded.</p>
    {% comment %} <a href="{% url 'seller_items' %}">View Your Uploaded Items</a> {% endcomment %}
</body>
</html>